body {
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

* {
    text-decoration: none !important;
    box-sizing: border-box;
}

/* header part start */
.header {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.header .Schedule {
    display: flex;
    align-items: center;
}

.Schedule-content {
    margin-left: 10px;
    line-height: 10px;

}

.material-symbols-outlined {
    color: #00AEDD;
}

.Schedule-content h6 {
    color: #00AEDD;
    line-height: 5px;
}

/* menu part start */
/* .apoinment-button {
    margin-top: 20px;
}

.apoinment-button a {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-top: 35px;
    background: #00AEDD;
    color: #ffffff;
}

.apoinment-button a:hover {
    background: #026b88;
} */

.menu a {
    font-weight: 700;
}

.menu {
    width: 60% !important;
    margin: auto;
}

.menu-option a {
    color: #2b2b2b;
}

.menu-option:hover {
    color: #00AEDD;
}

.sticky-menu-css {
    z-index: 200;
    background: #ffffff;
}

.nav-logo {
    width: 50px;
    border-radius: 50%;
}

/* carousel part start */
.carousel-item img {
    height: 500px;
}


/* our story */
.story-container {
    display: flex;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.story-col-1-head {
    color: #bababa;
}

.story-col-1 {
    background: #F2F2F2;
    padding: 50px;
}

.story-col-1 span {
    font-weight: 100;
}

.story-col-2 .img {
    display: flex;
    gap: 10px;
}

.story-col-2 .img img {
    width: 200px;
    height: 200px;
}

.story-col-2-content {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.story-col-2-content h4 {
    color: #00AEDD;
}

.story-col-1-content {
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #777777;
    font-size: 14px;
}

.story-img img {
    width: 200px;
    margin-top: 20px;
    margin-left: 200px;
}

/* service-section */
.service-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.service-heading {
    color: #00AEDD;
    text-align: center;
    margin-bottom: 20px;
}

.service-heading span {
    font-weight: 100;
}

.service-content h4:hover {
    color: #0693e3;
    transition: 1s;
}

.service-content p:hover {
    color: #0693e3 !important;
    transition: 1s;
}

.service {
    border: 1px solid #dcdcdc;
    padding: 20px;
    color: #00AEDD;
}

.service:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #00AEDD;
}

/* testimonial part */
.testimonial {
    background: #00AEDD;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    color: #ffffff;
}

.testimonial-container {
    width: 80%;
    margin: auto;
}

.comment-img img {
    width: 100%;
    height: auto;
}

/* tips-and-tricks */
.tips {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.tips-heading {
    text-align: center;
    margin-bottom: 20px;
}

.tips-heading span {
    font-weight: 100;
}

.tips-img img {
    width: 100%;
}

.tips-content h6 {
    margin-top: 20px;
    color: #00AEDD;
}

.tips-content hr {
    width: 90%;
    margin: auto;
    padding: 5px;
}

.tips-content {
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #777777;
}

/* footer */
footer {
    background: #00AEDD;
    padding: 100px;
    text-align: center;
    justify-content: center;
}

.social i {
    padding: 10px;
    background: #6FC6DD;
    border-radius: 50%;
    margin: 10px;
    color: #F2F2F2;
}
.social-icon-css{
    color: #F2F2F2 !important;
    background: #6FC6DD;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px !important;
}
.social-icon-css:hover{
    background: #9bd9eb;
}
.social i:hover {
    background: #9bd9eb;
}

footer p {
    color: #ffffff;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    margin-top: 10px;
}


/* //mobile responsive// */
@media(max-width:768px) {
    .header-container {
        display: none;
    }

    .carousel-item img {
        height: 150px;
    }

    .menu {
        width: 100%;
        margin: 0;
    }

    .nav-btn-css {
        border-bottom: 1px solid #777777 !important;
        border-radius: 0 !important;
    }

    .mobile-menu {
        margin-right: -100px;
    }

    .menu-option {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .story-container {
        flex-direction: column;
    }

    .story-container {
        width: 100%;
        margin: 0;
    }
    .mobile-none{
        display: none;
    }
    .story-bottom-mobile{
        height: 300px !important;
    }
    .story-col-1 .img {
        flex-direction: column;
    }

    .story-col-2 .img {
        flex-direction: column;
    }

    .story-col-2 .img img {
        width: 90%;
        margin: auto;
    }

    .story-col-2-content {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .story-img img {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .story-img {
        width: 90%;
        margin: auto;
    }

    .tips {
        width: 90%;
        margin: auto;
    }

    .tips-container {
        flex-direction: column;
    }

    .testimonial-container {
        width: 90%;
        margin: auto;
    }

    .testimonial-content-container {
        flex-direction: column;
    }

    .comment-1 .row {
        flex-direction: column;
    }

    footer {
        padding: 10px;
    }

    .service-content {
        flex-direction: row !important;
    }

    .service-row {
        flex-direction: column;
    }
}

@media(max-width:1024px){
    .header-container {
        display: none;
    }

    .carousel-item img {
        height: 400px;
    }

    .menu {
        width: 100%;
        margin: 0;
    }

    .nav-btn-css {
        border-bottom: 1px solid #777777 !important;
        border-radius: 0 !important;
    }

    .mobile-menu {
        margin-right: -100px;
    }

    .menu-option {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .story-container {
        flex-direction: column;
    }

    .story-container {
        width: 100%;
        margin: 0;
    }

    .story-col-1 .img {
        flex-direction: column;
    }

    .story-col-2 .img {
        flex-direction: column;
    }

    .story-col-2 .img img {
        width: 90%;
        margin: auto;
    }

    .story-col-2-content {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .story-img img {
        width: 100%;
        height: 500px;
        margin: 0;
        margin-bottom: 20px;
    }

    .story-img {
        width: 90%;
        margin: auto;
    }

    .tips {
        width: 90%;
        margin: auto;
    }

    .tips-container {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }

    .testimonial-container {
        width: 90%;
        margin: auto;
    }

    .testimonial-content-container {
        flex-direction: column;
        gap: 50px;
    }

    .comment-1 .row {
        flex-direction: column;
    }
    .comment-img img{
        height: 250px;
    }
    footer {
        padding: 10px;
    }

    .service-content {
        flex-direction: row !important;
    }

    .service-row {
        flex-direction: column;
    }
    .tips-content hr{
        width: 100%;
    }
}